<article class="g-productTile">
  <header class="g-productTile__title">
    System requirements
  </header>

  <section class="g-productTile__list">
    <header class="g-productListHeader">
      MINIMUM
    </header>
    <ul>
      <li>
        <span class="g-listTagTitle">OS:</span> Windows XP
      </li>
      <li>
        <span class="g-listTagTitle">Processor:</span> 1.2Ghz
      </li>
      <li>
        <span class="g-listTagTitle">Memory:</span> 1024 MB RAM
      </li>
      <li>
        <span class="g-listTagTitle">Graphics:</span> 512 MB
      </li>
      <li>
        <span class="g-listTagTitle">Storage:</span> 500 MB available space
      </li>
    </ul>
  </section>

  <section class="g-productTile__list">
    <header class="g-productListHeader">
      Recommended
    </header>
    <ul>
      <li>
        <span class="g-listTagTitle">OS:</span> Windows XP
      </li>
      <li>
        <span class="g-listTagTitle">Processor:</span> 1.2Ghz
      </li>
      <li>
        <span class="g-listTagTitle">Memory:</span> 1024 MB RAM
      </li>
      <li>
        <span class="g-listTagTitle">Graphics:</span> 512 MB
      </li>
      <li>
        <span class="g-listTagTitle">Storage:</span> 500 MB available space
      </li>
    </ul>
  </section>
</article>
