<article class="productSystemRequirements">
  <header class="productSystemRequirements__title">
    System requirements
  </header>

  <section class="productSystemRequirements__min">
    <header class="requirementsType">
      MINIMUM
    </header>
    <ul>
      <li>
        <span>OS:</span> Windows XP
      </li>
      <li>
        <span>Processor:</span> 1.2Ghz
      </li>
      <li>
        <span>Memory:</span> 1024 MB RAM
      </li>
      <li>
        <span>Graphics:</span> 512 MB
      </li>
      <li>
        <span>Storage:</span> 500 MB available space
      </li>
    </ul>
  </section>

  <section class="productSystemRequirements__rec">
    <header class="requirementsType">
      Recommended
    </header>
    <ul>
      <li>
        <span>OS:</span> Windows XP
      </li>
      <li>
        <span>Processor:</span> 1.2Ghz
      </li>
      <li>
        <span>Memory:</span> 1024 MB RAM
      </li>
      <li>
        <span>Graphics:</span> 512 MB
      </li>
      <li>
        <span>Storage:</span> 500 MB available space
      </li>
    </ul>
  </section>
</article>
