<section class="homeProject">
  <div role="img" class="homeProject__img">
    <img src={{image}} *ngIf="!image.includes('.mp4')"/>
    <video
      *ngIf="image.includes('.mp4')"
      loop
      [muted]="true"
      playsinline
      width="100%"
      height="100%"
      preload="auto"
      autoplay
    >
      <source 
        src={{image}}
        type="video/mp4"
      > 
    </video>
  </div>
  <div class="homeProject__desc">
    <h2> {{ title }} </h2>
    <p> {{content}} </p>
  </div>
</section>
