@import '../../assets/styles/index.styl'

.notFound {
    display: flex
    flex-direction: column
    width: 60vw
    margin: 0 20vw

    &__box {
        display: flex
        flex-direction: column
        box-sizing: border-box
        padding 40px 60px
    }
    &--error {
        color warningColor
    }
    &--content {
        font-size 15px
    }
    &--styles {
        border 3px solid warningColor
        border-radius(10px)
        text-align center
    }

    @media (max-width: 610px) {
        width: 94vw
        margin: 0 3vw 
    }
}
