<main class="g-pageWrapper">
  <section class="contactIntroduction">
    <h2>Hey there!</h2>
    <p> If you have any business to me, feel free to contact me via the contact form below. I will try to answer as soon as it possible. Please check the given e-mail carefully. There will be sent a response mail. </p>
  </section>
  <div class="contact">
    <nav class="contact__menu">
      <ul>
        <li> 
          <a target="blank" href="https://www.facebook.com/poyterskostecki">
            Facebook
          </a>
        </li>
        <li> 
          <a target="blank" href="https://github.com/RafalKostecki">
            Github
          </a>
        </li>
        <li> 
          <a target="blank" href="https://www.linkedin.com/company/poyters">
            Linkedin
          </a>
        </li>
      </ul>
    </nav>
    <section class="contact__form">
      <app-contact-form></app-contact-form>
    </section>
  </div>
</main>