@import '../../../assets/styles/index.styl'

.contact {
  display: flex
  flex-direction: row
  margin-top: 18px

  &__menu {
    display: flex
    flex: 1
    max-width: 30%
    margin-top: 12px

    & ul {
      margin: 0
      padding: 0  

      list-style-type: none
      txt(20px, 2px, normal, none, inherit)

      & li {
        margin: 0 0 5px 0
        padding: 0  
      }
    }
  }

  &__form {
    flex: 1  
  }
}