@import '../../assets/styles/index.styl'

.contact {
  display: flex
  flex-direction: row
  margin-top: 18px

  @media (max-width: 785px) {
    flex-direction: column-reverse
  }

  &__menu {
    display: flex
    flex: 1
    max-width: 25%
    margin-top: 12px

    @media (max-width: 785px) {
      max-width: none
    }


    & ul {
      margin: 0
      padding: 0  

      list-style-type: none
      txt(20px, 2px, normal, none, inherit)

      @media (max-width: 785px) {
        display: flex
        margin-top: 10px
        flex-wrap: wrap
      }

      & li {
        margin: 0 0 5px 0
        padding: 0  
        transition: 200ms ease-in-out

        &:hover {
          color: colorOfDecorations
        }

        @media (max-width: 785px) {
          margin: 0 8px
          flex: 1

          &:first-child {
            margin-left: 0
          }

          &:last-child {
            margin-right: 0
          }
        }
      }
    }
  }

  &__form {
    flex: 1  
  }
}

.contactIntroduction {
  display: flex  
  flex-direction: column
  margin-bottom: 30px;

  & p {
    txt(18px, 1px, 400, none, inherit)  

    @media (max-width: 610px) {
      txt(16px, 0, 400, none, inherit)  
    }
  }
}