@import '../../styles.styl'

.footer
    width calc(100% - 60px)
    padding 30px
    float left
    margin-top 15px
    &--style
        background backgroundColor1
        color inherit
        text-align center
        txt(8px, 2px, 100, uppercase, inherit)
