@import '../../styles.styl'

.footer
    width calc(100% - 60px)
    padding 30px
    float left
    &--style
        background darkColor1
        color #eee
        text-align center
        txt(15px, 0px, 400, none, inherit)