@import '../../assets/styles/index.styl'

.about {
  display: flex
  flex-direction: column
  position: relative
  flex-wrap: nowrap
  margin: 0 0 70px 0
  padding: 40px

  background-color: shadow4

  @media (max-width: 650px) {
    padding: 20px
  }

  &__contentWrapper {
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    margin-top: 10px

    @media (max-width: 650px) {
      flex-direction: column
    }
  }
}

.person {
  display: flex
  flex-direction: column
  flex-wrap: nowrap

  &__name {
    text-transform: uppercase
    letter-spacing: 2px

    @media (max-width: 650px) {
      text-align: center
    }
  }

  &__profession {
    color: fontColor3

    @media (max-width: 650px) {
      text-align: center
    }
  }
}

.mediaMenu {
  flex: 1
  max-width: 200px

  @media (max-width: 650px) {
    max-width: 100%
    margin-top: 10px

    & ul {
      text-align: center !important  
    }
  }

  & ul {
    margin: 0
    padding: 0

    text-align: right
    list-style-type: none

    & li {
      margin: 3px 0

      text-transform: uppercase
      color: colorOfDecorations
      font-weight: 700
      transition: 200ms ease-in-out

      &:first-child {
        margin-top: 0
      }

      @media (max-width: 650px) {
        display: inline-block
        margin: 3px 7px

        &:last-child {
          margin-right: 0
        }
      }

      &:hover {
        color: fontColor3
      }
    }
  }
}

.content {
  flex: 1
}
