@import '../../../assets/styles/index.styl'

.contactForm {
  display: flex
  flex-direction: column

  &__horizontalInput, &__content, &__submit {
    margin: 12px 0
    padding: 12px 10px

    background-color: shadow4
    color: fontColor4
    border: none  
    border-radius: 2px
    border: 2px solid transparent
    transition: 250ms ease-in-out

    &:focus {
      border: 2px solid colorOfDecorations
    }
  }

  &__subInputs {
    display: flex
    flex-direction: row  
    justify-content: space-between
  }

  &__content {
    display: flex
    resize: vertical
  }

  &__submit {
    max-width: 200px

    cursor: pointer
    transition: 250ms ease-in-out

    &:hover {
      color: colorOfDecorations
    }
  }
}

.contactSubInput {
  flex: 1
  margin: 12px 0
  padding: 12px 10px
  max-width: calc(50% - 12px)
  box-sizing: border-box

  background-color: shadow4
  color: fontColor4
  border: none  
  border-radius: 2px
  border: 2px solid transparent
  transition: 250ms ease-in-out

  &:focus {
    border: 2px solid colorOfDecorations
  }
}