<nav class="menu">
  <div class="menu__btn" (click)="toggleMenu()">
    <span> menu </span>
    <div *ngIf="!isOpen" class="menuArrow"> </div>
    <div *ngIf="isOpen" class="g-exitBtn g-exitBtn--menu"> </div>
  </div>
  <ul class="menu__routes" (click)="toggleMenu()">
    <li>
      <a routerLink="/">
        home
      </a>
    </li>
    <li> 
      <a routerLink="portfolio">
        portfolio
      </a>
    </li>
    <li>
      <a routerLink="contact">
        contact
      </a>
    </li>
  </ul>
  <ul class="menu__media">
    <li>
      <a target="_blank" href="https://www.facebook.com/poyterskostecki">
        <img src="./app/assets/media/facebookIcon.png" alt="FB" />
      </a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/RafalKostecki">
        <img src="./app/assets/media/githubIcon.png" alt="GH" />
      </a>
    </li>
  </ul>
</nav>
