<nav class="menu menu--style">
  <div class="menu__btn menu--btnTxt" (click)="toggleMenu()">
    <span>menu</span>
    <div class="menu__arrow menu--arrowBorder">

    </div>
  </div>
  <ul (click)="toggleMenu()">
    <li> 
      <a routerLink="/">
        home
      </a>
    </li>
    <li> 
      <a routerLink="portfolio">
        portfolio
      </a>
    </li>
    <li> 
      <a routerLink="contact">
        contact
      </a>
    </li>
  </ul>
  <ul class="media">
    <li>
      <a target="_blank" href="https://www.facebook.com/poyterskostecki"> 
        <img src="../assets/img/facebookIcon.png" alt="FB" />
      </a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/RafalKostecki">
        <img src="../assets/img/githubIcon.png" alt="GH" />
      </a>
    </li>
  </ul>
</nav>
