@import '../../assets/styles/index.styl'

.menu {
  position: relative
  display: flex
  flex-direction: row;
  height: 40px
  margin: 0 15% 20px 15%
  box-sizing: border-box

  txt(18px, 2px, 400, uppercase, inherit)

  @media (max-width: 1300px) and (min-width: 610px) {
    margin: 0 7% 20px
  }

  @media (max-width: 785px) {
    flex-direction: column
  }

  @media (max-width: 610px) {
    margin: 0 35px 20px
  }

  &__btn {
    display: none
    width: 100%
    justify-content: center
    align-items: center

    cursor: pointer
    text-align: center
    txt(16px, 1px, 400, uppercase, inherit)

    @media (max-width: 785px) {
      display: flex
      margin-bottom: 5px
    }

    & span {
      width 60px
      display block
    }
  }

  &__routes {
    display: flex
    flex: 1
    flex-direction: row
    margin: 0
    padding: 0

    @media (max-width: 785px) {
      visibility: hidden
      height: 0
      flex-direction: column
    }

    & li {
      display inline
      margin 10px 30px 10px 30px

      &:first-child {
        margin-left: 0
      }

      & a {
        transition: 200ms ease-in-out

        &:hover {
          color: colorOfDecorations
        }
      }

      @media (max-width: 785px) {
        height: 0
        visibility: hidden
        margin-left: 0

        & a {
          transition: none
        }
      }
    }
  }

  &__media {
    display: flex
    flex-direction: row
    align-items: center
    margin: 0
    padding: 0

    list-style-type: none

    @media (max-width: 785px) {
      position: absolute
      height: 0
      visibility: hidden
      flex-direction: column
      right: 0
      top: 20px
    }

    & li {
      width: 32px
      height: 32px
      margin: 0 10px

      border-radius: 50%
      outline: none
      transition: 200ms ease-in-out

      &:hover {
        background-color: colorOfDecorations
      }

      &:last-child {
        margin-right: 0
      }

      @media (max-width: 785px) {
        margin: 5px 0

        transition: none
      }
    }
  }

  &--visible {
    height: auto

    & > .menu__routes, & > .menu__media {
      visibility: visible
      height: auto
    }

    & > .menu__routes {
      & li {
        visibility: visible
        height: auto

        & a {
          transition: 200ms ease-in-out
        }
      }
    }
  }
}

.menuArrow {
  margin-left: 3px
  width: 0
  height: 0

  border-style: solid
  border-width: 7px 7px 0 7px
  border-color: colorOfDecorations transparent transparent transparent
}
