@import '../../../assets/styles/index.styl'

.creditsFooter {
    display: flex
    justify-content: center
    padding: 30px
    margin-top: 25px

    background-color: backgroundColor1
    text-align: center
    txt(10px, 1px, 100, uppercase, inherit)
}
