@import '../../styles.styl'

.category
    width 80%
    padding 50px 10% 50px 10%
    margin-bottom 40px
    float left
    &__cat, &__name
        width 100%
        float left
    &__name
        margin-top 10px
    &--title, &--catName
        text-align center
        txt(12px, 1px, 400, uppercase, inherit)
    &--catName
        txt(32px, 3px, 400, none, inherit)
    &--style
        background darkColor1