@import '../../styles.styl'

.category
    width 80%
    padding 50px 10% 50px 10%
    margin-bottom 40px
    float left
    &__cat, &__name
        width 100%
        float left
    &__name
        margin-top 10px
    &--title
        font-weight 400
        text-transform uppercase
        letter-spacing 2px
        font-size 10px
    &--catName
        letter-spacing 3px
        font-weight 300
        margin-top 15px
    &--style
        background backgroundColor1
        text-align center
