@import '../../assets/styles/index.styl'

.logo {
  display: flex
  margin: 40px 0 30px 0

  justify-content: center
  text-align: center
  txt(50px, 6px, 900, uppercase, inherit)

  @media (max-width: 500px) {
    txt(40px, 4px, 900, uppercase, inherit)
  }

  & span {
    cursor: pointer
  }
}
