<main class="smallBoxImg smallBoxImg--border">
  <div class="smallBoxImg__img smallBoxImg--picture smallBoxImg--diary">

  </div>
  
  <div class="smallBoxImg__data smallBoxImg--dataTxt">
    <p>Hello! Sometimes, I like write about my programming journey, a vary funny moments and so on, so I constructed fanpage on Facebook where I can do this. If you like read about a different funny programming stories, brief information about Poyters or if you want to know how was looking and look my learn way, I invite you to follow my "programming diary" here: 
      <a href="https://www.facebook.com/poyterskostecki">
        click!
      </a>
    </p>
  </div>
</main>