<main class="smallBoxImg smallBoxImg--border">
  <div class="smallBoxImg__img smallBoxImg--picture smallBoxImg--contact">

  </div>
  <div class="smallBoxImg__data smallBoxImg--dataTxt">
    <p>
      If you want to contact with me, ask about Poyters or if you want to only say "Hello", you can do this send e-mail to me on this address: contact@poyters.pl
    </p>
    <p>
      If you have work for me as front-end developer or you have other business stuff for me, you can write on this e-mail: business@poyters.pl.
    </p>
  </div>
</main>