<nav class="menu menu--style">
  <div class="menu__btn menu--btnTxt" id="menuNav">
    <span>menu</span>
    <div class="menu__arrow menu--arrowBorder">

    </div>
  </div>
  <ul>
    <li> 
      <a routerLink="/">
        home
      </a>
    </li>
    <li> 
      <a routerLink="diary">
        diary
      </a>
    </li>
    <li> 
      <a routerLink="portfolio">
        portfolio
      </a>
    </li>
    <li> 
      <a routerLink="contact">
        contact
      </a>
    </li>
  </ul>
  <ul class="media">
    <li>
      <a href="https://www.facebook.com/poyterskostecki"> 
        <img src="../assets/img/facebookIcon.png" alt="gh" />
      </a>
    </li>
    <li>
      <a href="https://github.com/RafalKostecki">
        <img src="../assets/img/githubIcon.png" alt="gh" />
      </a>
    </li>
  </ul>
</nav>
