<nav class="menu menu--style">
  <div class="menu__btn menu--btnTxt" id="menuNav">
    <span>menu</span>
    <div class="menu__arrow menu--arrowBorder">

    </div>
  </div>
  <ul>
    <li> 
      <a href="#">home</a>
    </li>
    <li> 
      <a href="./diary.html">diary</a>
    </li>
    <li> 
      <a href="./portfolio.html">portfolio</a>
    </li>
    <li> 
      <a href="./contact.html">contact</a>
    </li>
  </ul>
  <ul class="media">
    <li>
      <a href="https://www.facebook.com/poyterskostecki"> 
        fb
      </a>
    </li>
    <li>
      <a href="https://github.com/RafalKostecki">
        gh
      </a>
    </li>
  </ul>
</nav>
