<article class="project">
  <a href="{{link}}">
    <div class="project__img project--imgBox"> 
      {{image}}
    </div>
  </a>
  <section class="project__description project--descBox">
    <div class="project__txtBox"> 
      <p class="project--projType">{{type}}</p>
      <header class="project--titleTxt">
        {{title}}
      </header>
    </div>
    <main class="project--descTxt">
      {{content}} 
    </main>
    <footer class="technology">
      <span>
        Used technologies: 
      </span>
      
      <div *ngFor="let technology of technologies">
        <div class="technology__box technology--style">
          {{technology}}
        </div>
      </div>

      <div class="date">
        <span class="date--style">Released date: {{date}}</span>
      </div>
    </footer>
  </section>
</article>