<article class="project project--descBox">
  <a href="{{link}}">
    <div role="img" class="project__img project--imgBox">
      <img src={{image}}/>
    </div>
  </a>
  <section class="project__description">
    <div class="project__txtBox">
      <h6 class="project--projType">{{type}}</h6>
      <h2 class="project--titleTxt">
        {{title}}
      </h2>
    </div>
    <main class="project--descTxt">
      {{content}}
    </main>
    <footer class="technology">
      <span>
        Technologies:
      </span>

      <div *ngFor="let technology of technologies">
        <div class="technology__box technology--style">
          {{technology}}
        </div>
      </div>

      <div class="date">
        <span class="date--style">Released date: {{date}}</span>
      </div>
    </footer>
  </section>
</article>
