@import '../../styles.styl'

.technology 
    width 100%
    float left
    margin-top 40px
    & span 
        display block
        height 20px
        float left
        padding 2px 0 2px 0
        margin 2px 5px 2px 0px
    &__box 
        width auto
        height 20px
        float left
        padding 2px 4px 2px 4px
        margin 2px 5px 2px 5px
    &--style 
        border 2px solid blueColor1
        border-radius(4px)
.date
    width 100%
    float left
    margin-top 10px
    &--style 
        txt(10px, 0px, 300, none, inherit)
.project
    width 80%
    margin 50px 10% 50px 10%
    float left
    &__img
        margin-top 10px
        width 400px
        height auto
        float left
    &__description
        width calc(100% - 460px)
        padding 0px 20px 40px 20px
        margin-left 20px
        float left
    &__txtBox
        width 100%
        float left
        text-align center
    &--imgBox
        background-position center
        background-size cover
        & img
            width 100%
        &:hover
            cursor pointer
    &--descBox
        border-bottom 2px solid blueColor1
    &--projType
        txt(12px, 1px, 700, uppercase, blueColor1)
    &--titleTxt
        txt(32px, 2px, 700, none, inherit)
        padding-bottom 10px
    &--descTxt
        txt(18px, 0px, 400, none, inherit)
        line-height 24px
        text-indent 50px
@media (max-width: 1300px) and (min-width: 930px)
    .project
        width 90%
        margin 50px 5% 50px 5%
@media (max-width: 930px) and (min-width: 780px)
    .project
        width 95%
        margin 50px 2.5% 50px 2.5%
        &__img
            width 340px
        &__description
            width calc(100% - 400px)
@media (max-width: 780px) and (min-width: 710px)
    .project
        width 95%
        margin 50px 2.5% 50px 2.5%
        &__img
            width 280px
        &__description
            width calc(100% - 340px)
        &--descTxt
            txt(13px, 0px, 400, none, inherit)
@media (max-width: 710px) and (min-width: 610px)
    .project
        width 80%
        margin 50px 10% 50px 10%
        float left
        &__img
            width 100%
            height auto
            max-height 55vh
            overflow hidden
        &__description
            width calc(100% - 50px)
            padding 50px 25px 40px 25px
            margin 0
        &--descTxt
            txt(14px, 0px, 400, none, inherit)
@media (max-width: 610px)
    .project
        width 92%
        margin 50px 4% 50px 4%
        float left
        &__img
            width 100%
            height auto
            max-height 60vh
            overflow hidden
        &__description
            width calc(100% - 50px)
            padding 50px 25px 40px 25px
            margin 0
        &--descTxt
            txt(13px, 0px, 400, none, inherit)
