<article class="about">
  <header class="person">
    <h2 class="person__name">
      Rafał Kostecki
    </h2>
    <h4 class="person__profession">
      JavaScript Developer
    </h4>
  </header>
  <section class="about__contentWrapper">
    <div class="content">
      I have worked with some IT stuff since 2011. I spent around seven years learning and/or working as Front-end/JavaScript Developer. I am really keen on “web programing world”. Mostly, I`m interested in algorithms, mathematician way of solving programmistic problems and how to build great, huge web applications, either front-end and back-end side.
    </div>
    <nav class="menu">
      <ul>
        <li>
          <a target="blank" href="https://drive.google.com/file/d/1NbRoGLE7-RwBlf7_9gjUrLNCvULIktJx/view?usp=sharing">
            Resume
          </a>
        </li>
        <li> 
          <a target="blank" href="https://www.linkedin.com/in/rkostecki/">
            Linkedin
          </a>
        </li>
      </ul>
    </nav>
  </section>
</article>