<main class="g-pageWrapper">
  <article class="productIntroduction">
    <section class="productShortInfo">
      <header class="productShortInfo__headers">
        <h2>
          Kostek "Urodziny"
        </h2>
        <h5>
          RPG game
        </h5>
      </header>
      <main class="productShortInfo__contentWrapper">
        We have the birthday and BUM! The huge cristal, a weird rooms, hemoglobine and Przemek! I don`t know how but Kostek`s party has become some kind of apogee! Possible it`s caused by the cheap wine or very strong tea. Nevermind. You have to find your collegues. Don`t worry, always correct and nice smelling Narrator will help ya.
      </main>
    </section>

    <section class="productIntroduction__icon">
      <img src='./app/assets/media/kosBirthday.png' />
    </section>
    
  </article>
</main>
