<section class="about about--styles">
    <div class="about__textBox">
        <p>
            Hey! I`m Rafał Gabriel Kostecki, young and allways smilling JavaScript programmer from Poland. I work in front-end about five years. I`m really interested in programming, so I often spend time in front of my screen or in IT and maths books. But also I like sociology and cycling.
        </p>
        <p class="about--github">
            All my projects are available on my Github account: 
            <a target="_blank" href='https://github.com/RafalKostecki'> 
                here
            </a>
            .
        </p>
    </div>
</section>
<app-portfolio-project
    [type]="project.type"
    [image]="project.image"
    [link]="project.link"
    [title]="project.title"
    [content]="project.content"
    [technologies]="project.technology"
    [date]="project.released"
    *ngFor="let project of portfolioProjects"
>

</app-portfolio-project>
