backgroundColor = rgb(22, 30, 40)
backgroundColor1 = #111824
backgroundColor2 = #121820

colorOfDecorations = #203768
colorOfDecorations1 = #ccc
colorOfDecorations3 = #121922

warningColor = #770808

fontColor = #eee
fontColor1 = #bbb
fontColor2 = #999
fontColor3 = #aaa
fontColor4 = #fff

shadow1 = rgba(32, 55, 104, 0.75)
shadow2 = rgba(0, 0, 0, 0.75)
shadow3 = rgba(0, 0, 0, 0.9)
shadow4 = rgba(0,0,0,0.2)
shadow5 = rgba(0,0,0,0.15)
