@import '../../../assets/styles/index.styl'

.logo
  width 80%
  margin 0 10% 0 10%
  padding 50px 0 50px 0
  float left
  &__title
    width 100%
    float left
    margin-bottom 8px
  &--titleTxt
    text-align center
    txt(50px, 6px, 900, uppercase, inherit)
  &--border
    border-bottom 5px outset colorOfDecorations
@media (max-width: 1000px) and (min-width: 860px)
  .logo
    width 90%
    margin 0 5% 0 5%
@media (max-width: 860px) and (min-width: 750px) //On smaller width size enu ought be hidden
  .logo
    width 95%
    margin 0 2.5% 0 2.5%
@media (max-width: 500px) and (min-width: 20px)
  .logo--titleTxt
    text-align center
    txt(40px, 4px, 900, uppercase, inherit)
