<article class="g-componentWrapper">
  <form class="g-insertForm" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <div class="g-insertForm__box insertForm__box--signInUp">
      <div class="g-insertFormInput">
        <label class="g-insertFormInput__label">
          login
        </label>
        <input formControlName="login" class="g-insertFormInput__inputField" type="text"/>
        <div
          *ngIf="submitted && formControls.login.errors"
          class="g-insertFormInput__validation"
          role="alert"
          aria-live="assertive"
        >
          <div *ngIf="formControls.login.errors.required"> 
            Login is required
          </div>
        </div>
      </div>
  
      <div class="g-insertFormInput">
        <label class="g-insertFormInput__label">
          password
        </label>
        <input formControlName="password" class="g-insertFormInput__inputField" type="password"/>
        <div 
          *ngIf="submitted && formControls.password.errors"
          class="g-insertFormInput__validation"
          role="alert"
          aria-live="assertive"
        >
          <span *ngIf="formControls.password.errors.required">
            Password is required
          </span>
      </div>
      </div>
  
      <button type="submit" class="g-insertFormSubmit">
        Sign in
      </button>
    </div>
  </form>
  <div aria="banner" class="g-apiMessage">
    {{signupMessage}}
  </div> 
</article>