.g-insertForm {
  display: flex
  justify-content: center
  margin-bottom: 30px
  width: 100%

  &__box {
    display: flex
    flex-direction: column
    padding: 20px 15px
    min-width: 500px
    max-width: 700px

    @media (max-width: 650px) {
      min-width: 0
    }

    &--signInUp {
      color: fontColor
    }
  }
}

.g-insertFormSubmit {
  margin: 45px 0 10px 0
  padding: 7px 10px

  color: fontColor
  background-color: transparent
  border: 2px solid backgroundColor1
  letter-spacing: 2px
  transition: 200ms ease-in-out

  &:focus {
    outline: none
    border: 2px solid colorOfDecorations
  }

  &:hover {
    cursor: pointer
    border: 2px solid colorOfDecorations
  }
}

.g-insertFormInput {
  position: relative
  display: flex
  flex-direction: column

  &__validation {
    position: absolute
    height: auto
    width: 100px
    top: 10px
    left: -135px
    padding: 6px 9px

    background-color: shadow2
    box-shadow: 0 0px 20px shadow3
    color: warningColor
  }

  &__label {
    margin: 15px 0 2px 0

    color: colorOfDecorations
    font-size: 20px
    font-weight: 700
  }

  &__inputField {
    height: 30px
    padding: 3px 9px

    background-color: backgroundColor1
    border: 2px solid transparent
    transition: 200ms ease-in-out
    color: fontColor
    letter-spacing: 2px
    font-size: 16px

    &:active {
      border: 2px solid transparent
    }

    &:focus {
      outline: none
      border: 2px solid colorOfDecorations
    }
  }
}
