@import '../../styles.styl'

.logo
  width 80%
  margin 0 10% 0 10%
  padding 50px 0 50px 0
  float left
  &__title, &__maxim
    width 100%
    float left
  &__title
    margin-bottom 8px
  &--titleTxt
    text-align center
    txt(50px, 6px, 900, uppercase, inherit)
  &--maximTxt
    text-align center
    txt(14px, 1px, 400, none, inherit)
  &--border
    border-bottom 2px solid blueColor1