<product-introduction
  [name]="product.intro.name"
  [type]="product.intro.type"
  [introDescription]="product.intro.desc"
  [icon]="product.intro.iconPath"
> </product-introduction>
<div class="boxesWrapper">
  <product-system-requirements
    *ngIf="product.requirements"
    [min]="product.requirements.min"
    [rec]="product.requirements.recommended"
  > </product-system-requirements>

  <product-details
    [info]="product.details"
  > </product-details>

  <product-links
    *ngIf="product.links"
    [links]="product.links"
  > </product-links>
</div>