@import '../../assets/styles/index.styl'


.portfolioProject {
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    box-sizing: border-box
    margin: 35px 0
    height: 100%

    border-radius: 5px
    transition: 200ms ease-in-out
    cursor: pointer

    &:hover {
        box-shadow: 1px 0px 15px 1px shadow1;
    }

    @media (max-width: 750px) {
        flex-wrap wrap
    }

    &__pic {
        flex: 1
        min-width: 100%

        @media (max-width: 1300px) and (min-width: 750px) {
            max-width: 300px
        }

        @media (max-width: 750px) {
            max-width: none
            min-width: 100%
        }

        & img {
            width: 100%
            max-width: 100%
        }
    }

    &__description {
        position: relative
        flex: 1
        padding: 30px 40px 0 40px

        background-color: shadow4

        @media (max-width: 650px) {
          padding: 30px 20px 0 20px
        }
    }
}

.projectHead {
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-items: center

    &__type {
        flex: 1

        txt(15px, 1px, 700, uppercase, colorOfDecorations)
    }

    &__title {
        flex: 1
        padding-bottom 10px

        letter-spacing: 2px
        text-align: center
    }
}

.content {
    /* autoprefixer: ignore next */
    display: -webkit-box
    overflow: hidden

    txt(15px, 1px, 400, none, inherit)
    line-height 22px
    text-overflow: ellipsis
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical
    -webkit-line-clamp: 3 /* number of lines to show */
}

.technology {
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin-top: 20px

    &__box {
        display: flex
        align-items: center
        height: 16px
        padding: 3px 5px
        margin: 3px 4px

        &--style {
            border-radius: 2px
            font-size: 14px
            background-color: colorOfDecorations
        }
    }
}

.date {
    position: absolute
    display: block
    bottom: 25px
    left: 20px
    txt(10px, 0px, 300, none, inherit)
}

.github {
    position: absolute
    display: block
    bottom: 25px
    right: 20px
    width: 32px
    height: 32px
    border-radius: 50%
    transition: 200ms ease-in-out

    &:hover {
        background-color: colorOfDecorations
    }
}
