<a target="blank" href="{{link}}" class="portfolioProject">
  <section class="portfolioProject__description">
    <header class="projectHead">
      <h6 class="projectHead__type">
        {{type}}
      </h6>
      <h2 class="projectHead__title">
        {{title}}
      </h2>
    </header>
    <main class="content">
      {{content}}
    </main>
    <footer class="technology">
      <div *ngFor="let technology of technologies">
        <div class="technology__box technology__box--style">
          {{technology}}
        </div>
      </div>
    </footer>
    <aside class="date">
      Release date: {{date}}
    </aside>
    <a
      *ngIf="githubLink !== ''" 
      class="github" 
      target="blank" 
      href="{{githubLink}}">
      <img src="./app/assets/media/githubIcon.png" alt="GH" />
    </a>
  </section>
</a>
