<div class="g-pageWrapper">
    <app-about> </app-about>
    <div class="projectsWrapper">
        <header class="projectsWrapper__title">
            <h3>Some projects</h3>
        </header>
        <app-portfolio-project
            [type]="project.type"
            [image]="project.image"
            [link]="project.link"
            [title]="project.title"
            [content]="project.content"
            [technologies]="project.technology"
            [date]="project.released"
            [githubLink]="project.githubLink"
            *ngFor="let project of portfolioProjects"
        >

        </app-portfolio-project>
    </div>
</div>

