
//Variables
backgroundColor = #09090a
backgroundColor1 = #0b0b0f
colorOfDecorations = #203768
warningColor = #770808

//Mixins
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args
border-radius()
  vendor('border-radius', arguments)
box-shadow()
  vendor('box-shadow', arguments)
filter()
  vendor('filter', arguments)
txt(size, spaceL, weight, transformT, colorT)
  font-size size
  letter-spacing spaceL
  font-weight weight
  text-transform transformT
  color colorT
@keyframes menuShow
  0%
    height 0
    opacity 0
  40%
    height 180px
    opacity 0
  100%
    height 180px
    opacity 1
menuFlex()
  .menu
    height auto
    float left
    width 84%
    margin 30px 8% 30px 8%
    &__btn
      height 30px
      visibility visible
      & ul
        margin 0 auto
        padding 0
        float left
        height 0
        opacity 0
        font-size 1px
        pointer-events none
        &.media
          float right
          & li
            border-radius 50%
   	        margin 0px 15px 5px 15px
            font-size 4px
        & li
          display block
          clear both
          margin 10px 15px 10px 15px
//Styles for all subpages
html, body
  font-family: 'Montserrat', sans-serif;
  margin 0
  padding 0
  width 100%
  height 100%
  background backgroundColor
  color #eee
html
  overflow-y scroll
h1,h2,h3,h4,h5,h6
  font-family inherit
  font-weight bold
  margin 0 0 10px 0
for num in (1..6) //Here we will get h1-h6
  h{num}
    font-size (36 - num*4)px
    line-height (36 - num*4)px
a:link, a:visited
  text-decoration inherit
  color inherit
  cursor pointer
.smallBoxImg
  width 60%
  margin 50px 20% 80px 20%
  float left
  &__img
    width 100%
    height 50vh
    float left
  &__data
    width calc(100% - 60px)
    padding 30px
    float left
  &--picture
    background-position center
    background-size cover
  &--dataTxt
    txt(12px, 1px, 400, uppercase, inherit)
    line-height 22px
    text-indent 50px
    & p
      padding 15px 0 15px 0
  &--border
    border-bottom 2px solid colorOfDecorations
@media (max-width: 1000px) and (min-width: 860px)
  .smallBoxImg
    width 70%
    margin 50px 15% 80px 15%
@media (max-width: 860px) and (min-width: 750px) //On smaller width size enu ought be hidden
  .smallBoxImg
    width 80%
    margin 50px 10% 80px 10%
@media (max-width: 750px) and (min-width: 500px)
  .smallBoxImg
    width 90%
    margin 50px 5% 80px 5%
@media (max-width: 500px) and (min-width: 20px)
  .smallBoxImg
    width 93%
    margin 50px 3.5% 80px 3.5%
    &__data
      width calc(100% - 30px)
      padding 30px 15px 30px 15px

