//Import global partials
@import './partials/_insertForm'
  @import './partials/_smallBoxImg'

html, body {
  width 100%
  max-width 100vw
  height 100%
  margin 0
  padding 0
  overflow-x hidden

  font-family: 'Montserrat', sans-serif;
  background backgroundColor
  color fontColor
}
for num in (1..6) {
  h{num} {
    font-size (36 - num*4)px
    line-height (36 - num*4)px
    font-family inherit
    font-weight bold
    margin 0 0 10px 0
  }
}
a:link, a:visited {
  text-decoration inherit
  color inherit
  cursor pointer
}

.g-pageWrapper {
  display: flex
  flex-direction: column
  margin: 0 15%
  box-sizing: border-box
  clear: both

  @media (max-width: 610px) {
    margin: 0 2%
  }

  @media (max-width: 1300px) and (min-width: 610px) {
    margin: 0 7%
  }
}