backgroundColor = #09090a
backgroundColor1 = #111824

colorOfDecorations = #203768

warningColor = #770808

fontColor = #eee
fontColor1 = #bbb
fontColor2 = #999
fontColor3 = #aaa

shadow1 = rgba(32, 55, 104, 0.75)
shadow2 = rgba(0, 0, 0, 0.75)