@import '../../assets/styles/index.styl'


.profilePanel {
  position: absolute
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  top: 10px 
  right 20px

  &__icon {
    display: flex
    width: 32px
    height: 32px
    justify-content: center
    align-items: center

    border-radius: 50%
    border: 1px solid colorOfDecorations
    cursor: pointer
    font-weight: 700
    background-color: backgroundColor2
  }

  &__list {
    position: absolute
    top: 46px
    right: 0
    z-index: 80

    background-color: backgroundColor2
    border-right: 2px solid colorOfDecorations

    &:before, &:after {
      position: absolute
      content: ''
      top: -4px  
      width: 12px
      height: 2px 
      
      background-color: colorOfDecorations
    }

    &:before {
      right: 4px  

      transform: rotate(45deg)
    }

    &:after {
      right: 12px

      transform: rotate(-45deg)
    }

    & ul {
      position: relative
      margin: 0
      padding: 6px 18px

      white-space: nowrap

      &:before, &:after {
        position: absolute
        content: ''
        
        background-color: colorOfDecorations
      }

      &:before {
        top: 0 
        right: 0
        width: calc(100% - 18px)
        height: 2px  
      }

      &:after {
        top: -6px 
        right: 6px 
        width: 0
        height: 0

        border-style: solid
        border-width: 0 8px 8px 8px
        border-color: transparent transparent backgroundColor2 
        background-color: transparent
      }

      & li {
        list-style-type: none  
        transition: 200ms ease-in-out
        cursor: pointer

        &:hover {
          color: colorOfDecorations 
        } 
      }
    }

    &--separator {
      margin-top: 5px
      padding-top: 2px

      border-top: 1px solid shadow1 
    }
  }
}
