@import '../../../assets/styles/index.styl'


.profilePanel {
  position: absolute
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  top: 10px 
  right 20px

  &__icon {
    display: flex
    width: 32px
    height: 32px
    justify-content: center
    align-items: center

    border-radius: 50%
    border: 1px solid colorOfDecorations
    cursor: pointer
    font-weight: 700
    background-color: backgroundColor1
  }

  &__list {
    position: absolute
    top: 44px
    right: 0
    z-index: 80

    background-color: shadow2

    &:before, &:after {
      position: absolute
      content: ''
      top: -3px  
      width: 10px
      height: 2px 
      
      background-color: colorOfDecorations
    }

    &:before {
      right: 8px  

      transform: rotate(40deg)
    }

    &:after {
      right: 16px

      transform: rotate(-40deg)
    }

    & ul {
      position: relative
      margin: 0
      padding: 6px 18px

      white-space: nowrap

      &:before, &:after {
        position: absolute
        content: ''
        top: 0 
        right: 0 
        
        background-color: colorOfDecorations
      }

      &:before {
        width: 10px
        height: 2px  
      }

      &:after {
        height: 100%
        width: 2px  
      }

      & li {
        list-style-type: none  
        transition: 200ms ease-in-out
        cursor: pointer

        &:hover {
          color: colorOfDecorations 
        } 
      }
    }

    &--separator {
      margin-top: 5px
      padding-top: 2px

      border-top: 1px solid backgroundColor1 
    }
  }
}
