@import '../../assets/styles/index.styl'


.slider {
  display: flex
  flex-direction: column
  box-sizing: border-box
  width: 100%
  max-width: 100%
  position: relative

  border: 2px solid red

  &__slides {
    display: flex

  }

  &__pagination {
    display: flex  

    background: blue
  }
}


.slide {
  
}